{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="shortcut icon" href="../../docs-assets/ico/favicon.png"-->

    <title>Linked Tag World</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap-yeti.min.css') }}" rel="stylesheet">

    {% block styles %}
    {% endblock %}

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body {% block body %}{% endblock %}>
    <div id="wrap">
      <div id="main">
        <div class="container">
          <div class="navbar navbar-inverse">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">LinkedTagWorld</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
              {% if current_user.is_authenticated() %}
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp; {{ current_user.name }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ url_for('dashboard') }}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp; Dashboard</a></li>
                      <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp; Logout</a></li>
                    </ul>
                  </li>
                </ul>
              {% endif %}
            </div>
          </div>

          <div class="page-header">
            <h2 id="navbar">{% block header %}{% endblock %}</h2>
          </div>
          <h3>{% block title %}{% endblock %}</h3>
          <br />
          <div class="content">
            {{ macros.flashed_messages() }}
            {% block content %}
            {% endblock %}
          </div>
        </div> <!-- /container -->
      </div>
    </div>
    <div class="footer">
      <div class="row">
        <div class="col-md-4">
          <h5>Participants: </h5>
          <a href="http://www.deustotech.eu" target="_blank"><img src="{{ url_for('static', filename='img/deustotech.jpg') }}" width=170/></a>
          <a href="http://www.deusto.es" target="_blank"><img src="{{ url_for('static', filename='img/deusto.png') }}" width=130/></a>
        </div>
        <div class="col-md-4">
          <h5>Funded by: </h5>
          <a href="http://www.bizkailab.deusto.es/" target="_blank"><img src="{{ url_for('static', filename='img/euskojaurlaritza.jpg') }}" width=130 /></a>
        </div>
        <div class="col-md-4">
          <h5>Contact: </h5>
          If you have any doubt, comment or suggestion, you can contact me at lazaro.jon [at] gmail.com
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    {% block scripts %}
    {% endblock %}

  </body>
</html>
