{% macro with_errors(form) %}
  <div class="alert alert-dismissable alert-danger fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <ul>
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
      {% for error in field_errors %}
        <li>{{ form[field_name].label }}: {{ error }}</li>
      {% endfor %}
    {% endfor %}
    </ul>
  </div>
{% endmacro %}

{% macro field2_10(field, field_id) %}
  <label for={{ field_id }} class="col-lg-2 control-label {% if field.errors %}text-danger{% endif %}">{{ field.label }}{% if field.flags.required %}*{% endif %}</label>
  <div class="col-lg-10 {% if field.errors %}has-error{% endif %}">
    {{ field(id=field_id, class="form-control", **kwargs) }}
  </div>
{% endmacro %}

{% macro task_status_bar(task_id, progress_msg_id, progress_bar_id, interval=500, on_success=None, on_error=None) %}
 <script type="text/javascript">
  $(document).ready(function() {
    // pole state of the current task
    var percent = 10;
    var interval = setInterval(function() {
      $.getJSON('/_get_task_status', {task_id: "{{ task_id }}"},
        function(data) {
          var last_p_txt = $("#{{ progress_msg_id }} p:last-child").text();
          if (data.status == 'FAILURE') {
            clearInterval(interval);
            $("#{{ progress_msg_id }} p:last-child").text(last_p_txt + ' ERROR!');
            $("#{{ progress_msg_id }} p:last-child").addClass("text-danger");
            $("#{{ progress_msg_id }}").append( "<p class='text-danger'>" + data.result + "</p>" );
            {% if on_error %}
              {{ on_error }}(data.result);
            {% endif %}
          }
          else if (data.status == 'SUCCESS' || (data.result && parseInt(data.result.progress_percent) > percent)) {
            if (data.status == 'SUCCESS') {
              $("#{{ progress_msg_id }} p:last-child").text(last_p_txt + ' OK!');
              $("#{{ progress_msg_id }} p:last-child").addClass("text-success");
              clearInterval(interval);
              percent = 100;
              $("#{{ progress_msg_id }}").append( "<p class=\"text-success\">Done!</p>" );
              {% if on_success %}
                {{ on_success }}(data.result);
              {% endif %}
            }
            else {
              percent = parseInt(data.result.progress_percent);
              if (data.result && data.result.progress_msg && last_p_txt != data.result.progress_msg) {
                $("#{{ progress_msg_id }} p:last-child").text(last_p_txt + ' OK!');
                $("#{{ progress_msg_id }} p:last-child").addClass("text-success");
                $("#{{ progress_msg_id }}").append( "<p>" + data.result.progress_msg + "</p>" );
              }
            }
            $("#{{ progress_bar_id }}").css({'width': percent + '%'});
          }
      });
    }, {{ interval }})
  });
 </script>
{% endmacro %}

{% macro data_tabs(data_dict, id) %}
  <div class="panel-group" id="accordion">
    {% for s, data in data_dict.items() %}
        <p>
          <div class="panel panel-primary">
            <div class="media">
              <a class="pull-left" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ id }}_{{ loop.index0|string }}">
                <img class="media-object" style="width: 80px;" src="{{ url_for('qr_route', url=s, size=2) }}">
              </a>
              <div class="media-body">
                <p><h4 class="media-heading">{% if data_dict[s].main %} {{ data_dict[s].main }} <small>{{ s }}</small> {% else %} {{ s }} {% endif %}</h4></p>
                <a class="btn btn-primary btn-sm" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ id }}_{{ loop.index0|string }}">More</a>
                <a class="btn btn-primary btn-sm" href="{{ url_for('edit_resource', url=s) }}">Edit & enrich!</a>
              </div>
            </div>

            <div id="collapse_{{ id }}_{{ loop.index0|string }}" class="panel-collapse collapse">
              <div class="panel-body">
                <table class="table table-condensed">
                  <tbody>
                    {% for triple in data.triples %}
                      <tr>
                        <td>{{ triple[0] }}</td>
                        <td>{{ triple[1] }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </p>
        <!--div class="panel panel-default"-->

      <!--/div-->
    {% endfor %}
  </div>
{% endmacro %}
