{% extends "base.html" %}

{% block header %}Configure LTW{% endblock %}

{% block title %}Step 3 <small>Visualize and enrich your data</small>{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit and enrich the data</h3>
      </div>
      <div class="panel-body">
        <ul class="nav nav-pills">
          {% for class_uri, paginator in paginators.items() %}
            <li class="{% if loop.index0 == 0 %}active{% endif %}">
              <a href="#content_tab_{{ paginator.id }}" data-toggle="tab">
                {{ paginator.id }} <span class="badge">{{ paginator.total }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
        <div class="tab-content">
          {% for class_uri, paginator in paginators.items() %}
            <div class="tab-pane{% if loop.index0 == 0 %} active{% endif %}" id="content_tab_{{ paginator.id }}">
              <div><ul id="pagination_{{ loop.index0|string }}" class="pagination"></ul></div>
              <div id="data_tabs_{{ loop.index0|string }}">
                {{ macros.data_tabs(paginator.data, paginator.id) }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/bootstrap-paginator.min.js') }}"></script>
  <script>
    function generate_data_tab_html(data) {
      html = '<ul class="nav nav-tabs nav-stacked">';
      var i = 0;
      for (var s in data) {
        html += '<li><a href="#datatab_' + i + '" data-toggle="tab">';
        if (data[s]['main'])
          html += data[s]['main'] + '</a></li>';
        else
          html += s + '</a></li>';
        i += 1;
      }
      html += '</ul>';

      i = 0;
      html += '<div class="tab-content">';
      for (var s in data) {
        html += '<div class="tab-pane fade';
        if (i == 0)
          html += 'in active'
        html += '" id="datatab_' + i + '">'
        html += '<table class="table table-condensed">'
        html += '<tbody>'

        for (var j in data[s]['triples']) {
          var triple = data[s]['triples'][j];
          html += '<tr>';
          html += '  <td>' + triple[0] + '</td>';
          html += '  <td>' + triple[1] + '</td>';
          html += '</tr>';
        }
        html += '</tbody>'
        html += '</table>'
        html += '</div>'

        i += 1;
      }
      html += '</div>'
      return html
    }


    {% for class_uri, paginator in paginators.items() %}
      var options_{{ loop.index0|string }} = {
          bootstrapMajorVersion: 3,
          currentPage: 1,
          totalPages: {{ paginator.pages }},
            onPageClicked: function(e,originalEvent,type,page){
              $.getJSON('/_get_next_page',
                  {
                    class_uri: "{{ class_uri }}",
                    page: page
                  },
                  function(data) {
                    var html_tab = '<div id="data_tabs_{{ loop.index0|string }}">';
                    html_tab += generate_data_tab_html(data);
                    html_tab += '</div>';

                    $("#data_tabs_{{ loop.index0|string }}").replaceWith(html_tab);
                  });
          }
      }
      $('#pagination_{{ loop.index0|string }}').bootstrapPaginator(options_{{ loop.index0|string }});
    {% endfor %}
  </script>
{% endblock %}

