{% extends "base.html" %}

{% block header %}Configure LTW{% endblock %}

{% block title %}Step 3 <small>Visualize and enrich your data</small>{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Fetching your data according to LTW configuration file</h3>
      </div>
      <div class="panel-body">
        <div class="progress progress-striped active">
          <div class="progress-bar" id="progress-bar" style="width: 10%"></div>
        </div>
        <div class="well well-sm" id="progress-msg">
          <p class="text-success">Launching background task...</p>
        </div>
      </div>
    </div>
  </div>
</div>
<form method="POST" action="{{ url_for('rdfsource_step3') }}" id="dataform">
  {{ form.csrf_token }}
  {{ form.hidden_field }}
</form>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
  function onsuccess(result) {
    $("#{{ form.hidden_field.id }}").val("{{ task_id }}");
    $("#dataform").submit();//window.location.replace("{{ url_for('rdfsource_step2') }}");")
  }

  function onerror(error) {
    alert(error);
  }
  </script>
  {{ macros.task_status_bar(task_id=task_id, progress_msg_id="progress-msg", progress_bar_id="progress-bar", interval=500, on_success="onsuccess") }}
{% endblock %}
